@import "@/utilities/base.scss";

.navigation {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1;
	color: $font-color-dark;
}

.themeSeletctor {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1;
}

.themeButton {
	opacity: 0.6;
	cursor: pointer;
	transition: ease-in-out;
	font-size: 25px;
}
.themeButton.true {
	color: $font-color-dark;
}
.themeButton.false {
	color: $font-color-light;
}

.themeButton:hover {
	transform: scale(1.2);
	opacity: 1;
}

.footer {
	position: fixed;
	bottom: 0;
	background-color: rgba($color: #333333, $alpha: 0.5);
	color: $font-color-light;
	padding: 20px;
	text-align: center;
	transition: height 0.3s ease;
	width: 100%;
}

.content {
	display: none;
}

.expanded {
	height: 150px; /* Set the desired expanded height */
}

.expanded .content {
	display: block;
}

.toggle {
	display: absolute;
	right: 10;
}
